<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommunicationPartyService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICPPAService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommunicationPartyService">
                    <security mode="TransportWithMessageCredential">                        
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICPPAService">
                    <security mode="TransportWithMessageCredential">                        
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommunicationPartyService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICPPAService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://ws-web.test.nhn.no/v1/AR" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="WSHttpBinding_ICommunicationPartyService" />
          <endpoint address="net.tcp://ws-web.test.nhn.no:9876/v1/AR" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="NetTcpBinding_ICommunicationPartyService">
                <identity>
                    <dns value="ws-web.test.nhn.no" />
                </identity>
            </endpoint>
            <endpoint address="https://ws-web.test.nhn.no/v1/AR/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="BasicHttpBinding_ICommunicationPartyService" />            
            <endpoint address="https://ws-web.test.nhn.no/v1/CPPA" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPPAService" contract="CPAService.ICPPAService" name="WSHttpBinding_ICPPAService" />
            <endpoint address="net.tcp://ws-web.test.nhn.no:9876/v1/CPPA" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICPPAService" contract="CPAService.ICPPAService" name="NetTcpBinding_ICPPAService">
                <identity>
                    <dns value="ws-web.test.nhn.no" />
                </identity>
            </endpoint>
          <endpoint address="https://ws-web.test.nhn.no/v1/CPPA/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICPPAService" contract="CPAService.ICPPAService" name="BasicHttpBinding_ICPPAService" />
        </client>
    </system.serviceModel>
</configuration>