<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommunicationPartyService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICPPAService" maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommunicationPartyService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICPPAService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommunicationPartyService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICPPAService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws-web.test.nhn.no/v1/AR" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="WSHttpBinding_ICommunicationPartyService" />
            <endpoint address="net.tcp://ws-web.test.nhn.no:9876/v1/AR" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="NetTcpBinding_ICommunicationPartyService">
                <identity>
                    <dns value="ws-web.test.nhn.no" />
                </identity>
            </endpoint>
            <endpoint address="https://ws-web.test.nhn.no/v1/AR/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="BasicHttpBinding_ICommunicationPartyService" />
            <endpoint address="https://ws-web.test.nhn.no/v1/CPPA" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPPAService" contract="CPAService.ICPPAService" name="WSHttpBinding_ICPPAService" />
            <endpoint address="net.tcp://ws-web.test.nhn.no:9876/v1/CPPA" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICPPAService" contract="CPAService.ICPPAService" name="NetTcpBinding_ICPPAService">
                <identity>
                    <dns value="ws-web.test.nhn.no" />
                </identity>
            </endpoint>
            <endpoint address="https://ws-web.test.nhn.no/v1/CPPA/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICPPAService" contract="CPAService.ICPPAService" name="BasicHttpBinding_ICPPAService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>     
    </assemblyBinding>
  </runtime>  
</configuration>