<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
        <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommunicationPartyService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICPPAService" maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws-web.test.nhn.no/v1/AR/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicationPartyService" contract="AddressService.ICommunicationPartyService" name="BasicHttpBinding_ICommunicationPartyService" />
            <endpoint address="https://ws-web.test.nhn.no/v1/CPPA/Basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICPPAService" contract="CPAService.ICPPAService" name="BasicHttpBinding_ICPPAService" />
        </client>
    </system.serviceModel>  
</configuration>
