name: Build and test

on:
  [push]

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ windows-latest, ubuntu-latest ]
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Setup .NET Core 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore Messaging.sln
    - name: Build
      run: dotnet build Messaging.sln --configuration Release --no-restore
    - name: Unit tests
      run: |
        dotnet test "./test/Helsenorge.Messaging.Tests/Helsenorge.Messaging.Tests.csproj"
        dotnet test "./test/Helsenorge.Registries.Tests/Helsenorge.Registries.Tests.csproj"
